{#<script type="x/template" id="vue-item-search">
    <div class="search-box-inner">
        <div class="search-box-shadow-frame">
            <input type="search" class="search-input baseline-search-input" v-bind:issearchfocused="isSearchFocused" v-bind:autocompletelength="autocompleteResult.length" v-model="currentSearchString" @input="autocomplete($event.target.value)"
                   @keyup.enter="prepareSearch()" @keyup.down="keydown()" @keyup.up="keyup()"
                   @focus="isSearchFocused = true" @blur="setIsSearchFocused(false)"
                   autofocus placeholder="{{ trans('CeresBaseline::Template.searchPlaceholder') }}">

            <button class="search-submit baseline-search-submit" type="submit" @click="search()">
                <i class="fa fa-search sm-up"></i>
            </button>

            <div class="autocomplete-suggestions" v-if="isSearchFocused && autocompleteResult.length">
                <div class="autocomplete-suggestion" v-for="(item, index) in autocompleteResult" :key="index" @click="selectAutocompleteItem(item)" :class="{ 'autocomplete-selected': selectedAutocompleteIndex === index }">
                    <div class="autocomplete-image-container" v-if="showItemImages">
                        <img class="autocomplete-image" :src="item.img">
                    </div>
                    <div class="autocomplete-item-name" v-html="item.displayName"></div>
                </div>
            </div>
        </div>
    </div>
</script>#}
<script type="x/template" id="vue-item-search">
    <div class="search-box-inner">
        <div class="search-box-shadow-frame">
            <input type="search" class="search-input baseline-search-input" ref="searchInput" @input="autocomplete($event.target.value)"
                   @keyup.enter="prepareSearch()" @keyup.down="keydown()" @keyup.up="keyup()"
                   @focus="isSearchFocused = true" @blur="setIsSearchFocused(false)"
                   autofocus placeholder="{{ trans('CeresBaseline::Template.searchPlaceholder') }}">

            <button class="search-submit baseline-search-submit" type="submit" @click="search()">
                <i class="fa fa-search sm-up"></i>
            </button>

            <div class="autocomplete-suggestions" v-if="isSearchFocused && autocompleteResult.length">
                <div class="autocomplete-suggestion" v-for="(item, index) in autocompleteResult" :key="index" @mousedown="selectAutocompleteItem(item)" :class="{ 'autocomplete-selected': selectedAutocompleteIndex === index }">
                    <div class="autocomplete-image-container" v-if="showItemImages">
                        <img class="autocomplete-image" :src="item.img">
                    </div>
                    <div class="autocomplete-item-name" v-html="item.displayName"></div>
                </div>
            </div>
        </div>
    </div>
</script>

